* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  /*background-color: #fae1dd;*/
  background-color: #29292e;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 20px;
  background-color: #ffcad4;
  padding: 15px;
  margin-bottom: 15px;
}

.menu li a {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

#title {
  margin: 50px 0 50px 0;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  text-align: center;
  color: white;
}

.img-ada-table {
  width: 60%;
  margin-top: 20px;
  border-radius: 0.25rem;
  border: 4px solid #ffcad4;
}
.img-ada {
  max-width: 60%;
  height: 60%;
  margin-top: 20px;
  border-radius: 0.25rem;
  border: 4px solid #ffcad4;
}
.section-ada {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-ada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.div-ada p {
  margin-bottom: 20px;
  text-align: center;
}

h2,
h3 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  margin: 20px 0px 25px 0;
  color: white;
}

p {
  margin: 10px 20px 10px 20px;
  text-align: justify;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 20px;
  color: white;
}

#infancy,
#adulthood {
  padding: 20px;
}

#infancy p {
  margin-top: 20px;
}

#adulthood img {
  margin-top: 100px;
}

.div-infancy,
.div-adulthood {
  display: flex;
}

#youth {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/*Sessão Outras mulheres*/

.title-other-women {
  text-align: center;
  padding: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}

.ul-other-women {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  list-style: none;
  max-width: 800px;
}

.img-other-women {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.a-other-women {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  color: black;
  background-color: #ffcad4;
}

.a-other-women img:hover {
  transform: translateY(-8px);
}

#contact p {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  color: white;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 15px;
}

#message {
  margin-bottom: 10px;
  width: 300px;
  height: 120px;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

#form-name,
#form-email {
  margin-bottom: 10px;
  width: 300px;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

#button {
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 15px;
  background-color: #ffcad4;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-footer {
  color: #ffcad4;
  list-style: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.ul-footer li a {
  text-decoration: none;
}

.ul-footer img {
  background-color: #ffcad4;
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  align-items: center;
}

.ul-footer img:hover {
  transform: translateY(-8px);
}

@media (max-width: 600px) {
  .menu li a {
    font-size: 18px;
  }

  #title,
  h2,
  h3,
  .title-other-women {
    font-size: 30px;
    margin-bottom: 10px;
    padding: 0;
  }

  .a-other-women {
    font-size: 15px;
  }

  .div-infancy,
  .div-adulthood {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 10px;
  }

  #adulthood img {
    margin-top: 10px;
  }
}
